.header{
	 height:45px;
	}
	header{
	height:2%;
	width:100%;
	background-color: #99bdac;
	font-family: type; 
	}

.wrapper,.wrapper2 {
  position: absolute;
  top: 40%;
  width: 90%;
  left: 10%;
  margin-top: -87.5px;
  font-size: 70px;
  height: 175px;
}
@font-face {
    font-family: type; 
    src: url(type.ttf); 
   }
   @font-face {
    font-family: general; 
    src: url(general.ttf); 
   }
.wave {
  color: black;
  animation: 0.5s color infinite;
  font-family: Clarisa;
  
  
}